Flask>=2.3,<3
Flask-Cors>=4.0,<5
ctranslate2>=4.3,<5
ffmpeg-python>=0.2,<0.3
faster-whisper>=1.0,<2
huggingface-hub>=0.23,<1
imageio-ffmpeg>=0.4.9,<1
jsonschema>=4.23,<5
moviepy>=1.0.3,<2
numpy>=1.26,<3
opencv-python-headless>=4.10,<5
Pillow>=10,<11
requests>=2.31,<3
sentencepiece>=0.1.99,<0.2
tokenizers>=0.15,<0.16
typing_extensions>=4.10,<5
yake>=0.4.8,<0.5
